body {
    width:100%;
    height:100vh;
    margin:0;
    padding:0;
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 8rem;

    background-color: #37463d;  
    color: white;
}

header h1 {
    margin:0;
    text-align: center; 
    padding-top: 3rem;      

}

#moodContainer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0.2rem;
}

#btnMoodSelector {
    flex: 0 0 auto;

    width: 150px;
    height: 150px;
    margin: 0.2rem;

    border-radius: 10px;
    border: #37463d solid 1.5px;

    font-size: x-large;
    font-weight: bold;
    color: white;
    
    background-color: #535953;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

#separator {
    height: 2px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: black;
}

#playlistContainer {
    display: grid;
    align-items: center;
    justify-content: center;
}

#playlist {
    margin-bottom: 2rem;
}